<!DOCTYPE html>
<html>
<head>
  <title>HelloRailsHeroku</title>
  <%= stylesheet_link_tag "sencha-touch" %>
  <%= javascript_include_tag "sencha-touch", :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
